body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: bisque;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: center; */
    /* align-content: space-around; */
}

#container div {
    width: 200px;
    height: 200px;
    flex-basis: 400px;

}

/* div:nth-of-type(2n) {
    align-self: flex-end;
}


div:nth-of-type(3n) {
    align-self: center;
} */