body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
}

ul,
li {
    display: inline;
    margin: 0px;
    padding-left: 0px;
}

@media(max-width: 800px) and (min-width:600px) {
    h1 {
        color: purple;
    }
}

@media(orientation: landscape) {
    body {
        background-color: magenta;
    }
}

@media(min-width:300px) {
    h1 {
        background-color: red;
    }
}